@vertback:#00796b;

.marginTop{
    margin-top: 25%;
}

.navbar {

    background-color:@vertback;
    width: 100%;

    #logo{
        width: 125px;
        height: 50px;
    }
    .menu{
        float: left;
        a{
            text-decoration:none;
            color: #ffff;            
        }

        a:hover{
            color:#fffafa9f;
        }
    }    
}

.card-cust{
    .card-footer{
        float:right;
        width:100%;
        display: flex;
        justify-content:flex-end;


        #text-card-footer{
           margin-right:10px; 
        }
    }


}

.blue-light{
    color:#0d47a1;
}

.red-light{
    color:#ac0800;
}

#pictJeu{
    width:500px;
    height:500px;

    .right{
        position:absolute;
        top:50%;
        left:150%;
    }
}

